<ion-header>
  <ion-toolbar *ngIf="!imageZoom">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
      <ion-menu-button auto-hide="false" menu="start"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      <img [src]="logo" alt="" height="60">
    </ion-title>
  </ion-toolbar>

  <div *ngIf="imageZoom" class="image-toolbar">
    <div (click)="closeImage()" class="close-button">
      x
    </div>
  </div>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-spinner *ngIf="isLoading" color="primary"></ion-spinner>

    <ion-row>
      <ion-col *ngIf="!isLoading && !imageZoom" class="ion-padding" size="12" sizeMd="6">
        <div class="explanation">
          <img [src]="careCard?.image" alt="" width="32">
          <div>
            <h2 class="headline">{{ careCard?.headline }}</h2>
            <p *ngFor="let text of careCard?.text" class="explanation-text">{{ text }}</p>
          </div>
        </div>
      </ion-col>
      <ion-col *ngIf="!isLoading && !imageZoom" class="ion-padding" size="12" sizeMd="6">
        <div *ngIf="careCard?.currentList?.length < 1" class="results">
          <div class="no-result">
            <img [src]="careCard?.cc_signal" alt="" class="signal" width="24">
            <div>{{ careCard?.result }}</div>
          </div>
        </div>

        <ul *ngIf="careCard?.currentList?.length > 0" class="results">
          <li (click)="onClickLink('currentList', result.level1_cc_key, result.venomKey,result.level3Id)"
              *ngFor="let result of careCard?.currentList">
            <img [src]="careCard?.cc_signal" alt="" class="signal" width="24">
            <div class="result">
              <div class="result-text">
                <span *ngIf="result.label">{{ result.label }} </span>
                <span *ngIf="result.valA">{{ result.valA }}</span>
              </div>
              <div class="result-date">{{ careCard?.cc_date }} {{ result?.eventDate | date: 'dd.MM.yyyy' }}</div>
            </div>
            <img [src]="chevron" alt="" height="22" width="22">
          </li>
        </ul>

        <div *ngIf="careCard?.terminatedList.length > 0" class="history-container">
          <div (click)="openList()" class="history-container-header">
            <span>{{ 'CARE_CARD_LIST_PAGE.HISTORY' | translate }}</span>
            <ion-icon *ngIf="!listOpen" name="chevron-down-outline"></ion-icon>
            <ion-icon *ngIf="listOpen" name="chevron-up-outline"></ion-icon>
          </div>

          <ng-container *ngIf="listOpen">
            <ul class="history">
              <li *ngFor="let result of careCard?.terminatedList"
              >
                <div class="date">
                  {{ result.eventDate | date: 'dd.MM.yyyy' }}
                </div>
                <div class="finding">
                  <span *ngIf="result.label">{{ result.label }} </span>
                  <span *ngIf="result.valA"><br>{{ result.valA }}</span>
                  <span *ngIf="result.valB"><br>{{ result.valB }}</span>

                  <ng-container *ngIf="result.findings">
                    <div (click)="onOpenDocument(doc.docs[0])"
                         *ngFor="let doc of result.findings"
                         class="doc">
                        <span><img [src]="paperclip" alt="" height="18">
                          {{ 'CARE_CARD_LIST_PAGE.FINDING_PDF' | translate }}</span>

                    </div>
                  </ng-container>

                </div>
                <div (click)="onClickLink('terminatedList', result.level1_cc_key, result.venomKey,result.level3Id)"
                     *ngIf="result.level3Id"
                     class="arrow-right">
                  <img [src]="chevron" alt="" height="22" width="22">
                </div>
              </li>
            </ul>
          </ng-container>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngIf="imageZoom" offsetSm="2" sizeSm="8">
        <img *ngIf="isImg" [src]="enlargedImg" alt="" class="zoomed-image">
        <ng-container *ngIf="isPdf">
          <object [data]="enlargedPdf" type="application/pdf">
          </object>
        </ng-container>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
