<ion-header [translucent]="true">
  <ion-toolbar *ngIf="!imageZoom">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
      <ion-menu-button menu="start" auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      <img [src]="logo" alt="" height="60">
    </ion-title>
  </ion-toolbar>

  <div *ngIf="imageZoom" class="image-toolbar">
    <div class="close-button" (click)="closeImage()">
      x
    </div>
  </div>
</ion-header>

<ion-content>
  <div *ngIf="isLoading" class="ion-text-center">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <ion-grid *ngIf="!isLoading && !imageZoom" class="vet-form">

    <ion-row>
      <ion-col>
        <div class="vet-form-header">
          <div class="vet-form-header-image">
            <ion-img [src]="headerImage" alt=""></ion-img>
          </div>
          <div class="vet-form-header-description">
            <h3 *ngIf="!result?.fotodiag">{{ 'RELEASE_PAGE.REQUEST' | translate }}</h3>
            <h3 *ngIf="result?.fotodiag">{{ 'RELEASE_PAGE.PHOTO_DIAG' | translate }}</h3>
          </div>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card class="vet-form-card first-card">
          <ion-card-content>
            <ion-row>
              <ion-col sizeXs="12" sizeSm="6">
                <h3>
                  {{ 'RELEASE_PAGE.DIAG' | translate }} <span>({{result?.diseaseKey }})</span>
                </h3>
                <p class="body-text top" *ngIf="result?.header.headerHeadlineH2">
                  {{ result?.header.headerHeadlineH2 }}
                </p>
                <p class="medication-text">{{ result?.medicationText }}</p>
              </ion-col>
              <ion-col sizeXs="12" sizeSm="6">
                <h3>{{ 'RELEASE_PAGE.PET_INFO' | translate }}</h3>
                <p class="body-text top">
                  {{ result?.pet?.name }}, {{ result?.pet?.species }}, {{ result?.pet?.gender }}, {{
                  result?.pet?.castration }},
                  {{ result?.pet?.birthday }}
                </p>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card class="vet-form-card">
          <ion-card-content>
            <ion-row>
              <ion-col sizeXs="12" sizeMd="4">
                <h3>{{ 'RELEASE_PAGE.OWNER_ADDRESS' | translate }}:</h3>
                <div class="address">
                  {{ result?.orderCustomer?.firstName }} {{ result?.orderCustomer?.lastName }}<br>
                  {{ result?.orderCustomer?.email }}<br>
                  {{ 'RELEASE_PAGE.ORDER_ID' | translate }}: {{ result?.orderId }}
                </div>
              </ion-col>
              <ion-col sizeXs="12" sizeMd="2">
                <h3>{{ 'RELEASE_PAGE.SHIPPING_ADDRESS' | translate }}:</h3>
                <div class="address">
                  <span>{{ result?.shippingAddress?.firstName }} {{ result?.shippingAddress?.lastName }}</span><br>
                  {{ result?.shippingAddress?.street }}<br>
                  {{ result?.shippingAddress?.zipcode }} {{ result?.shippingAddress?.city }}
                </div>
              </ion-col>
              <ion-col sizeXs="12" sizeMd="2">
                <h3>{{ 'RELEASE_PAGE.INVOICE_ADDRESS' | translate }}:</h3>
                <div class="address">
                  <span>{{ result?.billingAddress?.firstName }} {{ result?.billingAddress?.lastName }}</span><br>
                  {{ result?.billingAddress?.street }}<br>
                  {{ result?.billingAddress?.zipcode }} {{ result?.billingAddress?.city }}
                </div>
              </ion-col>
              <ion-col sizeXs="12" sizeMd="2">
                <h3>{{ 'RELEASE_PAGE.DOCUMENTS' | translate }}:</h3>
                <ul class="doc-list">
                  <li *ngFor="let file of result?.images; let i = index" (click)="onOpenDocument(file)">
                    <img [src]="clip" alt="" height="18">
                    {{ 'VET_FORM.ATTACHMENT' | translate }} {{ i + 1 }}
                  </li>
                </ul>
              </ion-col>
              <ion-col sizeXs="12" sizeMd="2">
                <h3>{{ 'RELEASE_PAGE.RECIPES' | translate }}:</h3>
                <ul class="doc-list">
                  <li *ngFor="let link of result?.prescription; let i = index">
                    <a [href]="link" target="blank">
                      <img [src]="clip" alt="" height="18">
                      {{ 'RELEASE_PAGE.RECIPE' | translate }} {{ i + 1 }}
                    </a>
                  </li>
                </ul>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="vet-form-card">
          <ion-card-content>
            <h3>{{ 'RELEASE_PAGE.OWNER_DATA' | translate }}</h3>
            <ul class="answer-list">
              <li *ngFor="let item of result?.answer">
                <div class="question">{{ item.question }}</div>
                <div class="answer">{{ item.answer }}</div>
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card class="vet-form-card">
          <ion-card-content>
            <h3>{{ 'RELEASE_PAGE.PRODUCTS' | translate }}</h3>
            <ul class="answer-list">
              <li *ngFor="let item of result?.medications">
                <div class="question">
                  {{ item.med_amount }} x {{ item.med_name }}, {{ item.med_package_ges }}
                </div>
                <div class="answer">
                  <span *ngIf="item.ordered">{{ 'RELEASE_PAGE.ORDERED' | translate }}</span>
                  <span *ngIf="!item.ordered">{{ 'RELEASE_PAGE.NOT_ORDERED' | translate }}</span>
                </div>
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="result?.prescibed && result?.prescibed.length > 0">
      <ion-col>
        <ion-card class="vet-form-card">
          <ion-card-content>
            <h3>{{ 'RELEASE_PAGE.MEDS' | translate }}</h3>
            <ul class="answer-list">
              <li class="prescription" *ngFor="let item of result?.prescibed">
                <ng-container *ngFor="let txt of item">
                  <div>{{ txt }}</div>
                </ng-container>
                <!--                <div class="question">-->
                <!--                  {{ item.med_amount }} x {{ item.med_name }}, {{ item.med_package_ges }}-->
                <!--                </div>-->
                <!--                <div class="answer">-->
                <!--                  <span *ngIf="item.ordered">{{ 'RELEASE_PAGE.ORDERED' | translate }}</span>-->
                <!--                  <span *ngIf="!item.ordered">{{ 'RELEASE_PAGE.NOT_ORDERED' | translate }}</span>-->
                <!--                </div>-->
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card class="vet-form-card">
          <ion-card-content>
            <div class="vet-footer">
              <div class="vet">
                <h3>
                  {{ 'RELEASE_PAGE.VET' | translate }}:
                  <span>{{ result?.vet.firstName }} {{ result?.vet.lastName }}</span>
                </h3>
              </div>
              <div class="buttons">
                <ion-button color="primary"
                            (click)="toCareCard()">
                  {{ 'RELEASE_PAGE.CARECARD' | translate }}
                </ion-button>

                <ion-button color="secondary"
                            *ngIf="result?.fotodiag"
                            class="form-button"
                            (click)="toForm()">
                  {{ 'RELEASE_PAGE.FORM' | translate }}
                </ion-button>

                <ion-button color="danger"
                            class="release-button"
                            *ngIf="!result?.fotodiag"
                            (click)="onDeny()">
                  {{ 'RELEASE_PAGE.CANCEL' | translate }}
                </ion-button>

                <ion-button color="secondary"
                            class="release-button"
                            *ngIf="!result?.fotodiag"
                            (click)="onApprove()">
                  {{ 'RELEASE_PAGE.CONFIRM' | translate }}
                </ion-button>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="imageZoom">
    <ion-row>
      <ion-col offsetSm="2" sizeSm="8">
        <img *ngIf="isImg" [src]="enlargedImg" alt="" class="zoomed-image">
        <ng-container *ngIf="isPdf">
          <object [data]="enlargedPdf" type="application/pdf">
          </object>
        </ng-container>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
