<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="start" auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      <img [src]="logo" alt="" height="60">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isLoading" class="ion-text-center">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <ion-grid *ngIf="!isLoading" class="vet-form">

    <ion-row>
      <ion-col>
        <div class="vet-form-header">
          <div class="vet-form-header-image">
            <ion-img [src]="headerImage" alt=""></ion-img>
          </div>
          <div class="vet-form-header-description">
            <h3>{{ 'RELEASE_PAGE.REQUEST' | translate }}</h3>
          </div>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col sizeXs="12" sizeMd="6">
        <ion-card class="vet-form-card double-card first-card">
          <ion-card-content>
            <h3>{{ 'RELEASE_PAGE.DIAG' | translate }}</h3>
            <p class="body-text top" *ngIf="result?.header.headerHeadlineH2">
              {{ result?.header.headerHeadlineH2 }}
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col sizeXs="12" sizeMd="6">
        <ion-card class="vet-form-card double-card first-card">
          <ion-card-content>
            <h3>{{ 'RELEASE_PAGE.PET_INFO' | translate }}</h3>
            <p class="body-text top">
              {{ result?.pet?.species }}, {{ result?.pet?.gender }}, {{ result?.pet?.castration }},
              {{ result?.pet?.age }}
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="vet-form-card">
          <ion-card-content>
            <h3>{{ 'RELEASE_PAGE.OWNER_DATA' | translate }}</h3>
            <ul class="answer-list">
              <li *ngFor="let item of result?.answer">
                <div class="question">{{ item.question }}</div>
                <div class="answer">{{ item.answer }}</div>
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card class="vet-form-card">
          <ion-card-content>
            <h3>{{ 'RELEASE_PAGE.MEDS' | translate }}</h3>
            <ul class="answer-list">
              <li *ngFor="let item of result?.medications">
                <div class="question">
                  {{ item.med_amount }} x {{ item.med_name }}, {{ item.med_package_ges }}
                </div>
                <div class="answer">
                  <span *ngIf="item.ordered">{{ 'RELEASE_PAGE.ORDERED' | translate }}</span>
                  <span *ngIf="!item.ordered">{{ 'RELEASE_PAGE.NOT_ORDERED' | translate }}</span>
                </div>
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card class="vet-form-card">
          <ion-card-content>
            <div class="vet-footer">
              <div class="vet">
                <h3>
                  {{ 'RELEASE_PAGE.VET' | translate }}:
                  <span>{{ result?.vet.firstName }} {{ result?.vet.lastName }}</span>
                </h3>
              </div>
              <div class="buttons">
                <ion-button color="primary"
                            (click)="onDeny()">
                  {{ 'RELEASE_PAGE.CANCEL' | translate }}
                </ion-button>

                <ion-button color="secondary"
                            class="release-button"
                            (click)="onRelease()">
                  {{ 'RELEASE_PAGE.CONFIRM' | translate }}
                </ion-button>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
