<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="start" auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      <img [src]="logo" alt="" height="60">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-text-center" *ngIf="isLoading">
    <ion-spinner color="primary"></ion-spinner>
  </div>

  <ion-grid *ngIf="!isLoading">
    <ion-row>
      <ion-col sizeXs="12" sizeMd="6"></ion-col>
      <ion-col sizeXs="12" sizeMd="6">
        <ion-card>
          <ion-card-content>
            <ul>
              <li>
                <div class="image">
                  <img [src]="pageImg" width="32" alt="">
                </div>
                <div class="content">
                  <h2>{{ 'HOME_PAGE.OPEN_REQUESTS' | translate }}</h2>
                </div>
              </li>
              <li *ngFor="let item of result?.data">
                <div class="image">
                  <img [src]="pillImg" width="32" alt="">
                </div>

                <div class="content">
                  <h3>{{ 'HOME_PAGE.APPROVAL_REQUEST' | translate }}</h3>
                  <div class="order">
                    {{ 'HOME_PAGE.ORDER_DATE' | translate }}: {{ item.attributes.createdAt | date:
                    'dd.MM.yyyy' }}<br>
                    {{ 'HOME_PAGE.ORDER_NR' | translate }}: {{ item.attributes.orderNumber }}
                  </div>
                </div>

                <div class="arrow" (click)="onClickRequest()">
                  <img [src]="chevron" width="32" alt="">
                </div>
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
<!--      <ion-col sizeSm="8" offsetSm="2">-->
<!--        <h1>Hello Confidu Vet!</h1>-->
<!--        <ul>-->
<!--          <li *ngFor="let pet of pets" (click)="onClickLink(pet.userId, pet.petId, pet.appointmentId)">-->
<!--            Click Me-->
<!--          </li>-->
<!--        </ul>-->
<!--      </ion-col>-->
    </ion-row>
  </ion-grid>
</ion-content>
