<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="medium" menu="start" auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col sizeSm="8" offsetSm="2">
        <h1>Hello Confidu Vet!</h1>
        <ul>
          <li *ngFor="let pet of pets" (click)="onClickLink(pet.userId, pet.petId, pet.appointmentId)">
            Click Me
          </li>
        </ul>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
